@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Poppins:wght@300&family=Quicksand:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #161A30;
  background-image: linear-gradient(315deg, #161A30 0%, #252a2e63 74%);
  color: white;
  background-attachment: fixed;
}
::-webkit-scrollbar {
  width: 0px;
}

.poppins{
  font-family: 'Poppins', sans-serif;
}

.quicksand{
  font-family: 'Quicksand', sans-serif;
}

.cinzel {
  font-family: 'Cinzel', serif;
}

.yellow{
  color: #FEA71Aff;
}

.darkblue{
  color: #161A30;
} 

.text-15{
  font-size: 15px;
}

.divider{
  margin-top: 2px;
  height: 2px;
  width: 40px;
  background-color: #FEA71Aff;
  border-radius: 20px;
}

.blue{
  color: #00A5E9;
}

